#{extends 'main.html' /}
#{set title:'MapLight Query' /}

  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
  #{stylesheet 'bootstrap.min.css' /}
  #{set 'moreStyles'}
  <link rel="stylesheet" type="text/css" href="/public/datatables/css/jquery.dataTables.css"/>
  #{stylesheet 'jquery.multiselect.css' /}
  #{stylesheet 'query.css' /}
  #{/set}
  
  <script type="text/javascript" src="/public/datatables/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/public/cascadingdropdown/jquery.cascadingdropdown.js"></script>
  #{script 'jquery.multiselect.min.js' /}
  #{script 'comaplight.js' /}
  #{script 'states.js' /}


#{if flash.error}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>${flash.error}</strong>
</div>
#{/if}

<div class="row">

  <div class="span4" style="padding-left: 20px; border-right: solid 1px lightgray;">

    <form>

            <h3>Search contributions to <h2>California Committees</h2> <small>(Change to <a href="../California">CANDIDATES</a>)</small></h3>


      <h4>Donor</h4>
      <div class="filter-donor control-group">
        <div class="controls">
          <input type="text" id="filter-donor" placeholder="Organization or individual" value="${donor}"/>
        </div>
      </div>

      <h4>Committee(s)</h4>
      <div class="filter-committee control-group">
      	<input type="radio" id="filter-committee-any" name="filter-committee" data-selector=".filter-committee-any-data" ${anyMeasure}/>
          
          <label for="filter-committee-any" class="control-label radio inline" style="padding-left:0px"> Any non-candidate committee
          <input type="hidden" class="filter-committee-any-data" value="__any"/>
          </label>
          
          <div>
          <input type="radio" id="filter-committee-all" name="filter-committee" data-selector=".filter-committee-all-data" value="__ballot_measure" ${ballotMeasure}/>
         	<label for="filter-committee-all" class="control-label radio inline" style="padding-left:0px">Ballot Measure
         	<input type="hidden" class="filter-committee-all-data" value="__ballot_measure"/>
         	</label>
         	
         <div id="ballot-measure">
         	
         	<div id="election-tooltip">
              <select class="step1" id="filter-election" name="electionCycle" title="">
					
					<option selected="selected">${election}</option>
					
				</select>
			</div>
				<select class="step2" id="filter-prop" name="proposition">
					<option selected="selected">${proposition}</option>
				</select>
				<select class="step3" id="filter-pos" name="position">
					<option selected="selected">${position}</option>
				</select>
		</div>
		</div>
		<div>
		<input type="radio" id="filter-committee-single" name="filter-committee" data-selector=".filter-committee-single-data" ${specificMeasure}/>
			<label for="filter-committee-single" class="control-label radio inline" style="padding-left:0px">These committees...
			</label>
			<textarea id="filter-committee-single-data" class="filter-committee-single-data" title="Hello" autocomplete-type="committee" placeholder="These committees..." style="width:218px; margin-top:20px; padding-top:5px;">${committee}</textarea>
		</div>
		
		<div id="allied-committee-filter-div">              
           <input type="checkbox" id="allied-committee-filter" name="committees" value="CommitteeFilter" checked/>
			<label for="allied-committee-filter" class="control-label checkbox inline" style="padding-left:0px">
			Exclude contribs between allied committees
			</label>
         </div>
          
      </div>

      <h4>Location</h4>
      <div class="filter-location control-group">
        <div>
          <label for="filter-location-from">From state</label>
          <input type="text" id="filter-location-from" autocomplete-type="location" value="${location_from}" placeholder="NY, CA, etc."/>
        </div>
      <!--   <div>
          <label for="filter-location-to">To state</label>
          <input type="text" id="filter-location-to" autocomplete-type="location" placeholder="NY, CA, etc."/>
        </div> -->
      </div>

      <h4>Date</h4>
      <div class="filter-date control-group">
        <div>
          <label for="filter-date-start">Start date</label>
          <input type="date" id="filter-date-start" placeholder="yyyy-mm-dd" value="${date_start}"/>
        </div>
        <div>
          <label for="filter-date-end">End date</label>
          <input type="date" id="filter-date-end" placeholder="yyyy-mm-dd" value="${date_end}"/>
        </div>
      </div>

      <h3>Run</h3>
      <button type="button" class="run-query btn btn-primary">Run Query</button>
	  <input type="hidden" id="raw_results" value="${raw_results}">
    </form>

</div>


<div class="span8">
    <h3>Query results</h3>
     <div class="query-loading">Loading
    </div>
    <div class="query-results">
      They'll be here after you run a query.
    </div>    
  </div>
</div>
 </div>
